PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5433/echogpt_db?schema=public"

JWT_ACCESS_SECRET="your_jwt_access_super_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_super_secret_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""